# IDE
.vscode/
.idea/
*.iml
.settings/
.project
.classpath

# Build artifacts
**/target/
**/dist/
**/out/

# Dependencies
**/node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
**/logs/
*.log

# Docker
.docker/
*.tar

# Env
.env
.env.local

# Maven
.mvn/
mvnw
mvnw.cmd
